extends layout
block content
    h1 #{title}: #{genre.get('name')}
    if genre_books.length
        p #[strong The following books will lose the genre]
        div(style='margin-left:20px; margin-top:20px')
            h4 Books
                dl
                    each book in genre_books
                        dt
                            a(href=book.get('Book')['url']) #{book.get('Book')['title']}
                        dd #{book.get('Book')['summary']}
    else
        p No books will be affected by the deletion of this genre.
    
    form(method='POST')
        div.form-group
            button.btn.btn-primary(type='submit') Delete